@import 'mixin-var.scss';

html {
    -webkit-tap-highlight-color: transparent;
}

.body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    background: #FFFFFF;
    height: fit-content;
    width: auto;
    overflow: auto;
    &__content {
        width: 100%;
    }
}

.button {
    width: 160px;
    height: 45px;
    background: $main-color;
    border-radius: 22.5px;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    transition: all 0.2s ease-out;
    cursor: pointer;
    &:not(:disabled):not(:active):hover {
        scale: 1.05;
        transform-origin: center;
        transition: all 0.2s ease-in;
    }
    &:disabled {
        background: lightgray;
        cursor: default;
    }
    &:active:not(:disabled):hover {
        scale: 1;
        filter: brightness(110%);
    }
}

.close-button {
    display: block;
    width: 32px;
    height: 32px;
    background: #FF0000;
    border-radius: 50%;
    position: absolute;
    top: -16px;
    right: -16px;
    cursor: pointer;
    &::before, &::after {
        content: '';
        width: 2px;
        height: 16px;
        background: #FFFFFF;
        position: absolute;
        top: calc(50% - 8px);
        left: calc(50% - 1px);
        transform-origin: center;
        transition: all 0.2s ease-out;
    }
    &::after {
        rotate: -45deg;
    }
    &::before {
        rotate: 45deg;
    }
    &:hover::before, &:hover::after {
        transform: scale(1.2);
        transition: all 0.2s ease-in;
    }
    &:active:hover::before, &:active:hover::after {
        transform: scale(1);
        transition: all 0.2s ease-out;
    }
}

.popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(#B7B4AC, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s linear;
}

.show-popup {
    background-color: rgba(#B7B4AC, 0.5);
    transition: all 0.5s linear;
}

.dialog {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: min(50px, 10%) min(100px, 5%) min(50px, 10%);
    &-wrap {
        position: absolute;
        top: -100%;
        left: 0;
        right: 0;
        margin: auto;
        block-size: fit-content;
        opacity: 0;
        transform: skewY();
        transition: all 0.5s ease-out;
    }
}

.show-dialog {
    top: 0;
    bottom: 0;
    opacity: 1;
    transition: all 0.5s ease;
    // margin: auto;
}
